@page "/EditableDatabase"
@using static BlazorApp1.AppDbContext
@using Microsoft.EntityFrameworkCore
@using BlazorApp1.Components.Pages.Classes

<PageTitle>Database</PageTitle>
<div id="heading-container">
</div>
<h1>Database</h1>
<table>
    <thead>
    <tr>
 
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>VendorID</th>
        <th>LocationID</th>
    </tr>
    </thead>
    <tbody>
    <h3>South-West</h3>
    @foreach (Part part in DbContext.Parts)

        if (part.LocationID == "101")
        {
            <tr>
                <td>@part.Id</td>
                <td><input type="text" @bind="part.Name"/></td>
                <td><input type="text" @bind="part.Quantity"/></td>
                <td><input type="text" @bind="part.Cost"/></td>
                <td><input type="text" @bind="part.VendorID"/></td>
                <td><input type="text" @bind="part.LocationID"/></td>
            </tr>
        }
    
    </tbody>
</table>

        <h3>North-West</h3>
        <table>
            <thead>
            <tr>
         
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>VendorID</th>
                <th>LocationID</th>
            </tr>
            </thead>
            <tbody>
        @foreach (Part part in DbContext.Parts) 
        {
            if (part.LocationID == "102")
            {

                <tr>
                    <td>@part.Id</td>
                    <td><input type="text" @bind="part.Name"/></td>
                    <td><input type="text" @bind="part.Quantity" /></td>
                    <td><input type="text" @bind="part.Cost" /></td>
                    <td><input type="text" @bind="part.VendorID" /></td>
                    <td><input type="text" @bind="part.LocationID" /></td>
                </tr>
            }
        }
        </tbody>
        </table>

    <h3>Nort-East</h3>
<table>
    <thead>
    <tr>
         
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>VendorID</th>
        <th>LocationID</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Part part in DbContext.Parts) 
    {
        if (part.LocationID == "103")
        {
            <tr>
                <td>@part.Id</td>
                <td><input type="text" @bind="part.Name"/></td>
                <td><input type="text" @bind="part.Quantity" /></td>
                <td><input type="text" @bind="part.Cost" /></td>
                <td><input type="text" @bind="part.VendorID" /></td>
                <td><input type="text" @bind="part.LocationID" /></td>
            </tr>
        }
    }
    </tbody>
</table>

        <h3>South-East</h3>
<table>
    <thead>
    <tr>
         
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>VendorID</th>
        <th>LocationID</th>
    </tr>
    </thead>
    <tbody>
        @foreach (Part part in DbContext.Parts) 
        {
            if (part.LocationID == "104")
            {
                <tr>
                    <td>@part.Id</td>
                    <td><input type="text" @bind="part.Name"/></td>
                    <td><input type="text" @bind="part.Quantity" /></td>
                    <td><input type="text" @bind="part.Cost" /></td>
                    <td><input type="text" @bind="part.VendorID" /></td>
                    <td><input type="text" @bind="part.LocationID" /></td>
                </tr>
            }
        }
          </tbody>
        </table>

        <h3>Taiwan</h3>
<table>
    <thead>
    <tr>
         
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>VendorID</th>
        <th>LocationID</th>
    </tr>
    </thead>
    <tbody>
        @foreach (Part part in DbContext.Parts) 
        {
            if (part.LocationID == "105")
            {
                <tr>
                    <td>@part.Id</td>
                    <td><input type="text" @bind="part.Name"/></td>
                    <td><input type="text" @bind="part.Quantity" /></td>
                    <td><input type="text" @bind="part.Cost" /></td>
                    <td><input type="text" @bind="part.VendorID" /></td>
                    <td><input type="text" @bind="part.LocationID" /></td>
                </tr>
            }
        }
        </tbody>
                </table>
<table>
    <thead>
    <tr>
         
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>VendorID</th>
        <th>LocationID</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>@newPart.Id</td>
            <td><input type="text" @bind="newPart.Name"/></td>
            <td><input type="text" @bind="newPart.Quantity" /></td>
            <td><input type="text" @bind="newPart.Cost" /></td>
            <td><input type="text" @bind="newPart.VendorID" /></td>
            <td><input type="text" @bind="newPart.LocationID" /></td>
      
        </tr>
    </tbody>
</table>
<button @onclick="SaveChanges">Save Changes</button>
@code {
    Part newPart = new();

    private async Task SaveChanges()
    {
        newPart.Id = DbContext.Parts.Max(p => p.Id) + 1;
        DbContext.Parts.Add(newPart);
        await DbContext.SaveChangesAsync();
        newPart = new Part();
    }


}